body {
 margin:0px 0px 0px 0px;
}

.header {
  height:30px;
  background-color: #2c2c2c;
  margin:0px 0px 0px 0px;
}

a {
 text-decoration: none;
}
.header a {
 color: white;
 font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
 float:right;
 margin: 6px 20px 0 0;
 font-weight:bold;
}

.main {
 text-align: center;
 margin-top: 20px;
 margin-bottom: 50px;
}
.main h1 {
 font-family:"Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
 font-size: 60px;
 color: #333;
 margin-bottom: 10px;
 margin-top: 0px;
}

.main img {
  margin-right: 44px
}

.main h2 {
 color: #535353;
 font-family: 'helvetica neue', Helvetica, Arial;
 font-weight: 300;
 font-size: 30px;
}

.summary {
 margin: 0px 10px 50px 20px;
 font-family: "Helvetica Neue", Helvetica, Arial;
 font-size: 18px;
}

.summary h2 {
 font-weight: bold;
 font-size: 30px;
}

.summary .siblings{
    width: 100%;
    display: inline-block;
}

.json pre {
 font-size: larger;
 float:left;
}

.json .field {
   color: green;
   margin-left: 12px;
}

.json .string {
   color: navy;
   margin-left: 12px;
}

.json .value {
   color: navy;
}

